html {
    margin: 0;
   
}



body {
    margin: 0;
    padding: 0;
    background-color: black;
    
}


.start-div {
    height: 100vh;

}
#splash {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 80vh;

 }

 #gameOver {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }
#start-button {
    background-color: yellow;
    border-color: black;
    border-width: 10px;
    width: 150px;
    
}

#play {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 75px;
    font-size: large;
}

.title {
    width: 400px;

}
.game-board {
background-image: url("../images/gameboard2.jpeg");
background-size: cover;
  width: 80vw;
  height: 80vh;
  padding: 70px;
  margin: 20px auto;
  border-radius: 0px;
  box-shadow: inset 0px 0px 20px -6px purple;
}

#scores {
    font-size: 30px;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-content: center;
    margin: 0;
}


#again-button {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 75px;
    font-size: large;
    
}

.card {
    width: 5.71cm;
    height: 8.8cm;
    background-image: url("../images/thevoid\ .png");
    background-size: cover;
}


h2 , h3 {
    font-size: 50px;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

h4 {
    font-size: 30px;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-decoration: underline;
}

ul li {

    color: aliceblue;
    list-style-type: '🪐';
    
}
