body {
    padding: 0;
    background-image: url('/images/menu.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
    
}

body button {
    font-size: 40px;
    background-color: yellow;
    color: black;
    border: 2px;
    border-radius: 10px;
}

.logo-img {
    width: 80%;
    height: 80%;
	display: flex;
    
    
	

}
   
body button {
    padding: 20px 40px;
    

}
