html {
    margin: 0;
   
}



body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#splash {
   display: block;
   width: 80vw;
   height: 80vh;
}
#game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 80vh;

 }
 #gameOver {
    display: block;
    width: 80vw;
    height: 80vh;
 }
#start-button {
    background-color: yellow;
    border-color: black;
    border-width: 10px;
    width: 150px;
    
}

#play {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 75px;
    font-size: large;
}

.title {
    width: 80vw;


}
.game-board {
background-image: url("../images/gameboard2.jpeg");
background-size: cover;
  width: 80vw;
  height: 80vh;
  padding: 70px;
  margin: 20px auto;
  border-radius: 0px;
  box-shadow: inset 0px 0px 20px -6px purple;
}

#gameOver {
    background-image: url("../images/menu.jpeg");
    background-size: cover;
      width: 80vw;
      height: 80vh;
      padding: 70px;
      margin: 20px auto;
      border-radius: 0px;
      box-shadow: inset 0px 0px 20px -6px purple;


}

#again-button {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 75px;
    font-size: large;
    
}

.card {
    width: 5.71cm;
    height: 8.8cm;
    background-image: url("../images/thevoid\ .png");
    background-size: cover;
}

#player-score{
    color: brown;
}

h2 {
    font-size: 30px;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content:space-around
}